<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemalocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 
    <display-name>Struts2 Application</display-name>
    <filter>
    	<filter-name>struts2</filter-name>
    		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
    	<filter-name>struts2</filter-name>
    	<url-pattern>/*</url-pattern>
	</filter-mapping>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
 	<!-- 
	The FilterDispatcher filter is deprecated since Struts version 2.1.3. 
	If you are using latest version of Struts2 ( > 2.1.3) use StrutsPrepareAndExecuteFilter class instead.
 	-->
 
 	<listener>
 		<listener-class>org.Apache.struts2.tiles.StrutsTilesListener</listener-class>
 	</listener>
 	<context-param>
 		<param-name>tilesDefinition</param-name>
 		<param-name>/WEB-INF/tiles.xml</param-name>
 	</context-param>
 	<!-- 
 		"The above code configure Tiles listener in web.xml. 
 		An input configuration file /WEB-INF/tiles.xml is 
 		passed as argument. This file contains the Tiles 
 		definition for our web application."
 	 -->
</web-app>